/*detail info part*/
.detail-container{
    display: flex;
}

.detail-info{
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 45%;

}

.detail-description{
    position: relative;
    display: inline-block;
    width: auto;
}

.detail-edit li{
    list-style: none;
  width: auto;
  height: auto;
  border: 1px solid #A9A9A9;
  background: #A9A9A9;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
}

.detail-edit li a{
  text-decoration: none;
  color: #f2f2f2;
}

.detail-add{
  width: auto;
  height: auto;
  border: 1px solid #A9A9A9;
  background: #A9A9A9;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
}


.detail-add a{
  text-decoration: none;
  color: #f2f2f2;
}

.detail-table{
    text-align: left;
}

.detail-full-list{
    border-bottom: black 2pt dotted;
}

.detail-full-list li{
    list-style: none;
}

.detail-full-list li a{
    text-decoration: none;
    color: #16151b;
}

.detail-table tr td a{
    text-decoration: none;
    color: #16151b;
}