/*Search Bar*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #A9A9A9;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #A9A9A9;
}

.searchButton {
  width: auto;
  height: 36px;
  border: 1px solid #A9A9A9;
  background: #A9A9A9;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*CreateButton*/
.CreateButton{
  width: 300px;
  height: 36px;
  border: 1px solid #A9A9A9;
  background: #A9A9A9;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
}

.CreateButton>a{
  text-decoration: none;
  color: #f2f2f2;
}

/*itemlist*/

.item-list li {
  list-style: none;
  padding-left: 50px;
  position: relative;
  padding-top: 10px;
}

.item-list li:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 5px;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: contain;
  /*background-image: url("imgages/shark.png");*/
}

.item-list a{
    text-decoration: none;
    color: rgba(31,31,31,0.76)
}