{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            title is provided by inheriting templates
        {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]>{#<script#}
{#      src="http://html5shiv.googlecode.com/svn/trunk/html5.js">#}
{#    </script>#}<![endif]-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'rateinfo/style.css' %}">
    {% block head %}{% endblock %}
</head>

<body>

<div><!-- start of container -->
    <header>
        <h1>Rest Rate</h1>
        <h2>Restaurant rating System</h2>
    </header>
<div class="menu_row">
    <nav>
{#        <ul>#}
{#            <li>#}
                <a href="{% url 'index_urlpattern' %}">
                    Index</a>
{#            </li>#}
{#            <li>#}
                <a href="{% url 'rateinfo_restaurant_list_urlpattern' %}">
                    Restaurant</a>
{#            </li>#}
{##}
{#            <li>#}
                <a href="{% url 'rateinfo_holder_list_urlpattern' %}">
                    Holders</a>
{#            </li>#}
{##}
{#            <li>#}
                <a href="{% url 'rateinfo_place_list_urlpattern' %}">
                    Places</a>
{#            </li>#}
{##}
{#            <li>#}
                <a href="{% url 'rateinfo_type_list_urlpattern' %}">
                    Cuisines</a>
{#            </li>#}
{##}
{#            <li>#}
                <a href="{% url 'rateinfo_comment_list_urlpattern' %}">
                    Comments</a>
{#            </li>#}
{##}
{#            <li>#}
                <a href="{% url 'rateinfo_section_list_urlpattern' %}">
                    Section</a>
{#            </li>#}

            {% if perms.rateinfo.view_customer %}
{#            <li>#}
                <a href="{% url 'rateinfo_customer_list_urlpattern' %}">
                    Customer</a>
{#            </li>#}
            {% endif %}
{#        </ul>#}
    </nav>
    <div class="status_row">
        <div class="offset-by-eight four columns">
{#            <ul class="inline">#}
                {% if user.is_authenticated %}
{#                    <li>#}
                        <a href="{% url 'logout_urlpattern' %}">
                        Log Out, {{ user.get_username }}</a>
{#                    </li>#}
                {% else %}
{#                    <li>#}
                        <a href="{% url 'login_urlpattern' %}">
                        Log In</a>
{#                    </li>#}
{#                    <li>#}
                    <a href="{% url 'signup_urlpattern' %}">
                        Sign Up</a>
{#                    </li>#}
                {% endif %}

{#            </ul>#}
        </div>
    </div>

</div>


    <main>
        {% block content %}
            <div class="row">
                <section class="eight columns">
                    {% block org_content %}
                        Welcome to Restaurant Rate Information Website by Xinmai Xuan!
                    {% endblock %}
                </section>
                <section class="desktop four columns">
                    {% block create_button %}{% endblock %}
                </section>
            </div>
            <div class="row">
                <div class="twelve columns">
                    {% block content_footer %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </main>
    {% if is_paginated %}
        <div class="row">
            <div class="page-jump">
                <ul class="page-list">
                    {% if first_page_url %}
                        <li>
                            <a href="{{ first_page_url }}">
                                First</a>
                        </li>
                    {% endif %}
                    {% if previous_page_url %}
                        <li>
                            <a href="{{ previous_page_url }}">
                                Previous</a>
                        </li>
                    {% endif %}
                    <li>
                        Page {{ page_obj.number }}
                        of {{ paginator.num_pages }}
                    </li>
                    {% if next_page_url %}
                        <li>
                            <a href="{{ next_page_url }}">
                                Next</a>
                        </li>
                    {% endif %}
                    {% if last_page_url %}
                        <li>
                            <a href="{{ last_page_url }}">
                                Last</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
</div><!-- end of container -->

<footer>
    <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons License" style="border-width:0"
                 src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/>
        </a><br/><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Rate Restaurant Examples and Code</span>
        by
        <a xmlns:cc="https://www.linkedin.com/in/xinmai-xuan-12a091183/" href="https://www.linkedin.com/in/xinmai-xuan-12a091183/" property="cc:attributionName"
           rel="cc:attributionURL">Xinmai Xuan</a>
        <a xmlns:cc="http://creativecommons.org/ns#" href="https://www.ligent.net" property="cc:attributionName"
           rel="cc:attributionURL">Ligent, LLC</a> are licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike
            4.0 International License</a>.
    </p>
</footer>

</body>
</html>

