{% extends 'rateinfo/base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'rateinfo/lists.css' %}">
    {% endblock %}

{% block title %}
        Comments list
{% endblock %}

{% block content %}
    <h2>Comment List</h2>

        <form class="search" method="get">
            <input type="text" name="q" class="searchTerm" placeholder="Input Comment Text">
            <button type="submit" class="searchButton">Search</button>
        </form>
        {% if perms.rateinfo.add_comment %}
            <div class="CreateButton">
            <a href = '{% url 'rateinfo_comment_create_urlpattern' %}'>
            Add a New Comment
        </a>
            </div>
        {% endif %}
    <ul class="item-list">
        {% for comment in comment_list %}
            <li>
                <a href="{{comment.get_absolute_url}}"> {{ comment }} - </a>
            </li>
        {% empty %}
            <li><em>There are currently no type available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
