{% extends 'rateinfo/base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'rateinfo/update.css' %}">
    {% endblock %}

{% block title %}
    Update Your Personal Info
{% endblock %}

{% block content %}
    <form
        action="{{ customer.get_update_url }}"
        method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="CreateButton" type="submit">Update Your Personal Info</button>
    </form>
{% endblock %}
