{% extends 'rateinfo/base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'rateinfo/update.css' %}">
    {% endblock %}

{% block title %}
    Delete Your Comment
{% endblock %}

{% block content %}
    <form
        action="{{ comment.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            Your Comment {{ comment.comment_text }}?
        </p>
        <a href="{{ comment.get_absolute_url }}">Cancel</a>
        <button type="submit" class="CreateButton">Delete comment</button>
    </form>
{% endblock %}
