{% extends 'rateinfo/base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'rateinfo/lists.css' %}">
    {% endblock %}

{% block title %}
        Holder List
{% endblock %}

{% block content %}
    <h2>Holder List</h2>
    <form class="search" method="get">
            <input type="text" name="q" class="searchTerm" placeholder="Input Holder Name">
            <button type="submit" class="searchButton">Search</button>
        </form>
    <div class="CreateButton">
    {% if perms.rateinfo.add_holder %}
        <a href = '{% url 'rateinfo_holder_create_urlpattern' %}'>
            Sign Up as Holder
        </a>
    {% endif %}
    </div>
    <ul class="item-list">
        {% for holder in holder_list %}
            <li>
                <a href="{{ holder.get_absolute_url }}"> {{ holder }} </a>
            </li>
        {% empty %}
            <li><em>There are currently no holder available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
