{% extends 'rateinfo/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'rateinfo/index.css' %}">
    {% endblock %}
{% block title %}
    About
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
    <h2>Welcome to hunt your meal systems</h2>
    {% if user.is_authenticated %}
        <p>Welcome!</p>
        <p>Please click Menu above to view pages you interested!</p>
        {% else %}
    <p>To use more function please <a href="{% url 'login_urlpattern' %}">Log in</a>.</p>
    {% endif %}
    </div>
  </div>
{% endblock %}
