{% extends 'rateinfo/base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'rateinfo/lists.css' %}">
    {% endblock %}

{% block title %}
        Place List
{% endblock %}

{% block content %}
    <h2>Place List</h2>
        <form class="search" method="get">
            <input type="text" name="q" class="searchTerm" placeholder="Input street">
            <button type="submit" class="searchButton">Search</button>
{#            <br><br>#}
        </form>
    <br />
        <form class="search" method="get">
            <input type="text" name="p" class="searchTerm" placeholder="Input Places">
            <button type="submit" class="searchButton">Search</button>
        </form>
        <br>
        {% if perms.rateinfo.add_place %}
            <div class="CreateButton">
            <a href = '{% url 'rateinfo_place_create_urlpattern' %}'>
            Add a New Place
        </a>
            </div>
        {% endif %}
    <ul class="item-list">
        {% for place in place_list %}
            <li>
                <a href="{{place.get_absolute_url}}"> {{ place }} </a>
            </li>
        {% empty %}
            <li><em>There are currently no place available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
