{% extends 'rateinfo/base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'rateinfo/update.css' %}">
    {% endblock %}

{% block title %}
    Error Deleting Holder
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Place</h2>
        <p>
            You may not delete place {{ plcae }}.  This
            holder is currently assigned to the following
            restaurant:
        </p>

        <ul>
            {% for rest in restaurant %}
            <li class="refuse-li"><a href="">{{ rest }}</a></li>
            {%  endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'rateinfo_holder_list_urlpattern' %}" class="refuse-del-a">Holder List</a>.
        </p>
    </div>
{% endblock %}
