{% extends 'rateinfo/base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'rateinfo/update.css' %}">
    {% endblock %}

{% block title %}
    Create Restaurant
{% endblock %}

{% block content %}
    <form
        action="{% url 'rateinfo_restaurant_create_urlpattern'%}"
        method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="CreateButton">Create Restaurant</button>
    </form>
{% endblock %}
