{% extends 'rateinfo/base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'rateinfo/update.css' %}">
    {% endblock %}

{% load static %}

{% block title %}
    Update Your Restaurant Info
{% endblock %}

{% block content %}
    <form
        action="{{ restaurant.get_update_url }}"
        method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="CreateButton">Update Your Restaurant Info</button>
    </form>
{% endblock %}
