{% extends 'rateinfo/base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'rateinfo/update.css' %}">
    {% endblock %}

{% block title %}
    Delete Restaurant
{% endblock %}

{% block content %}
    <form
        action="{{ restaurant.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            restaurant {{ restaurant }}?
        </p>
        <a href="{{ restaurant.get_absolute_url }}" class="refuse-del-a">Cancel</a>
        <button type="submit" class="CreateButton">Delete Restaurant</button>
    </form>
{% endblock %}
