{% extends 'rateinfo/base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'rateinfo/details.css' %}">
    {% endblock %}

{% block title %}
    Section - {{ section }}
{% endblock %}

{% block content %}
    <h2>{{ section }}</h2>
    <div class="detail-container">
    <div class="detail-info">
    <ul class="detail-edit">
    {% if perms.rateinfo.change_section %}
        <li>
            <a href = "{{ section.get_update_url }}">Edit this</a>
        </li>
        {% endif %}
    {% if perms.rateinfo.delete_section %}
        <li>
            <a href = "{{ section.get_delete_url }}">Delete This section</a>
        </li>
    {% endif %}
    </ul>
    <section>
        <table class="detail-table">
            <tr>
                <th>Section:</th>
                <td><a href="">{{ section }}</a></td>
            </tr>

        </table>

    </section>
</div>
<div class="detail-full">
    <section>
        <h3>Comment In This Section</h3>
        <ul>
            {% for comment in comment_list %}
            <div class="detail-full-list">
                <li>
                    <a href="{{ comment.get_absolute_url }}">{{ comment.comment_text }}</a>
                </li>
            </div>
            {% empty %}
                <li><em>There are currently no comment for this course.</em></li>
            {% endfor %}
        </ul>
    </section>
    </div>
    </div>
{% endblock %}