{% extends 'rateinfo/base.html' %}

{% block title %}
        Type List
{% endblock %}

{% block content %}
    <h2>Type List</h2>
    <div>
        <form method="get">
            <input type="text" name="q" class="form-control" placeholder="Input Holder Name">
            <button type="submit">Search Holder</button>
        </form>
        {% if perms.rateinfo.add_type %}
        <a href = '{% url 'rateinfo_type_create_urlpattern' %}'>
            Add a New Type
        </a>
        {% endif %}
    </div>
    <ul>
        {% for type in type_list %}
            <li>
                <a href="{{ type.get_absolute_url }}"> {{ type }} </a>
            </li>
        {% empty %}
            <li><em>There are currently no type available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
