{% extends 'rateinfo/base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'rateinfo/lists.css' %}">
    {% endblock %}

{% block title %}
        Type List
{% endblock %}

{% block content %}
    <h2>Type List</h2>
        <form class="search" method="get">
            <input type="text" name="q" class="searchTerm" placeholder="Input Holder Name">
            <button type="submit" class="searchButton">Search</button>
        </form>

        {% if perms.rateinfo.add_type %}
    <div class="CreateButton">
        <a href = '{% url 'rateinfo_type_create_urlpattern' %}'>
            Add a New Type
        </a>
    </div>
        {% endif %}

    <ul class="item-list">
        {% for type in type_list %}
            <li>
                <a href="{{ type.get_absolute_url }}"> {{ type }} </a>
            </li>
        {% empty %}
            <li><em>There are currently no type available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
